<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
</head>

<body>
    <h1>
        HOME
    </h1>
    <p>

        This Is ParaSection
    </p>
    <button
        style="background-color: aqua; padding: 8px; border: 0cap; border-radius: 6px; font-size: 18px; font-weight: 500; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ; cursor: pointer;">
        Please Signup
    </button>
</body>

</html>